<?xml version="1.0" ?>
<robot name="curso_3gdl">
  <link name="base_link"/>
  <link name="eslabon_1">
    <inertial>
      <origin xyz="0.075 0 0" rpy="0 0 0"/>
      <mass value="0.243000"/>
      <inertia ixx="0.00002633" ixy="0" ixz="0" iyy="0.00046372" iyz="0" izz="0.00047385"/>
    </inertial>
  </link>
  <joint name="joint_1" type="revolute">
    <origin xyz="0.000000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="base_link"/>
    <child link="eslabon_1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="5"/>
  </joint>
  <link name="eslabon_2">
    <inertial>
      <origin xyz="0.06 0 0" rpy="0 0 0"/>
      <mass value="0.194400"/>
      <inertia ixx="0.00002106" ixy="0" ixz="0" iyy="0.00023976" iyz="0" izz="0.00024786"/>
    </inertial>
  </link>
  <joint name="joint_2" type="revolute">
    <origin xyz="0.000000 0.000000 0.150000" rpy="1.570796 0.000000 0.000000"/>
    <parent link="eslabon_1"/>
    <child link="eslabon_2"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="5"/>
  </joint>
  <link name="eslabon_3">
    <inertial>
      <origin xyz="0.05 0 0" rpy="0 0 0"/>
      <mass value="0.162000"/>
      <inertia ixx="0.00001755" ixy="0" ixz="0" iyy="0.00014040" iyz="0" izz="0.00014715"/>
    </inertial>
  </link>
  <joint name="joint_3" type="revolute">
    <origin xyz="0.120000 0.000000 0.000000" rpy="0.000000 0.000000 0.000000"/>
    <parent link="eslabon_2"/>
    <child link="eslabon_3"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.1416" upper="3.1416" effort="10" velocity="5"/>
  </joint>
  <link name="tcp"/>
  <joint name="joint_tcp" type="fixed">
    <origin xyz="0.1 0 0" rpy="0 0 0"/>
    <parent link="eslabon_3"/>
    <child link="tcp"/>
  </joint>
</robot>
